{% extends 'base.html.twig' %}

{% form_theme edit_form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <h1 class="text-center">Utilisateur edit</h1>

    
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
<br><br>
            <input type="submit" value="Edit" class="btn btn-warning btn-md" id="edit"/>
    {{ form_end(edit_form) }}
<br><br>
    
        
     <ul class="inline list-unstyled">
         <li class="list-inline-item">
             <button class="btn btn-info"><a href="{{ path('utilisateurs_index') }}" >Back to the list</a></button>
       </li>
         <li class="list-inline-item">
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
          </li>
</ul>

         
        





{% endblock %}
